{{define "accountGeloescht"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/'
			}, 4000);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">Account erfolgreich gelöscht!</h2>
	</body>
</html>

{{end}}