{{define "addingItemFeedbackPositiv"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/admin/add'
			}, 4000);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">Anlegen des Equipments war erfolgreich!</h2>
	</body>
</html>

{{end}}