{{define "ausleihenFeedbackPositiv"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/my-equipment'
			}, 3000);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">Equipment ausgeliehen...</h2>
	</body>
</html>

{{end}}