{{define "ausleihenFeedbackNegativ"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/register'
			}, 4000);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">Sie müssen sich registrieren um Equipment ausleihen zu können!</h2>
	</body>
</html>

{{end}}