{{define "ausWarenkorbRaus"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/cart'
			}, 0500);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">...</h2>
	</body>
</html>

{{end}}