{{define "itemGeloescht"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/admin/equipment'
			}, 1000);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">Item erfolgreich gelöscht!</h2>
	</body>
</html>

{{end}}