{{define "loginFeedbackPositiv"}}

<!DOCTYPE html>
<html>
	<head>
		<script>
			setTimeout(function() {
    			// rest of code here
    			location.href = '/index'
			}, 4000);
		</script>
	</head>
	<body>
		<h2 style="text-align: center; line-height: 300px;">Login war war erfolgreich! Sie werden nun weitergeleitet...</h2>
	</body>
</html>

{{end}}