{{define "contentAdd"}}
	<div style="text-align: left">
		<h3>Equipment hinzufügen</h3>
	</div>
	
	<!--
	<div style="float: right; margin-right: 800px; text-align: right;">
	  <div class="placeholder-picture" ></div>
	  <button type="submit" class="btn btn-secondary">Bild hochladen</button>
	</div>
	-->
	<form action="/admin/add/" method="post" enctype="multipart/form-data" >
	<div style="float: right; margin-right: 800px; text-align: right;">
		<!-- <form method="post" enctype="multipart/form-data" action="/upload-addbild/"> -->
		  		<div style="text-align: right; margin-bottom: -3px;"><i>Bild</i></div>
		  		<div class="placeholder-picture" ></div>
		  		<input name="picture" type="file" accept=".jpg">
		  		<!-- <div style="text-align: right"><button type="submit" class="btn btn-secondary">Hochladen</button></div> -->

	</div>
	<div style="display: inline-grid; grid-template-columns: 200px auto; grid-gap: 5px; margin-top: 25px;">
	    <div>
	      <label for="bezeichnung">Bezeichnung</label>
	      <input type="text" id="bezeichnung" name="bezeichnung" placeholder="">
	    </div>
	    <div>
	    	<div style="display: inline-block; float: right;">
				<label for="kategorie" style="text-align: right;">Kategorie</label>
				<select size="1" name="kategorie" class="chosen-select" id="chosen-select-1">
					<!-- <option value="alle">Alle</option> -->
					<option value="kameras">Kameras</option>
					<option value="mikrofone">Mikrofone</option>
					<option value="pa">PA</option>
					<option value="zubehoer">Zubehör</option>
				</select>
			</div>
	    </div>
	    <div>
	      <label for="inventar-nummer">Inventar-Nummer</label>
	      <input type="text" id="inventar-nummer" name="inventar-nummer" placeholder="automatisch erzeugt" readonly>
	    </div>
	    <div>
	      <div style="display: inline-block; float: right;">
						<label for="lagerort" style="text-align: right;">Lagerort</label>
						<select size="1" name="lagerort" class="chosen-select" id="chosen-select-2">
							<option value="schrank">Schrank</option>
							<option value="dachlager">Dachlager</option>
							<option value="lager 1">Lager 1</option>
							<option value="lager 2">Lager 2</option>
							<option value="transporter">Transporter</option>
						</select>
					</div>
	    </div>
	    <div>
	      <label for="inhalt">Inhalt</label>
	      <input type="text" id="inhalt" name="inhalt" placeholder="">
	    </div>
	    <div style="display: inline-block; float: right; text-align: right;">
	      <label for="anzahl" style="text-align: right;">Anzahl</label>
	      <input type="number" min="1" id="anzahl" name="anzahl" style="width: 50px;" placeholder="0">
	    </div>
	    <div>
	      <label for="beschreibung" style="text-align: left;">Beschreibung</label>
	      <textarea name="beschreibung" rows="8" cols="40" placeholder="Lorem ipsum und so weiter..."></textarea>
	    </div>
	    <div>
	    </div>
	    <button type="submit" class="btn btn-success btn-lg">Speichern</button>
	  </form>
	</div>

{{end}}
