{{define "contentEquipment"}}
	<div style="text-align: left">
		<h3>Equipment</h3>
	</div>
	<div style="text-align: right">
		<form action="/equipment/" method="get">
			<div style="display: inline-block">
					<input type="text" id="username" name="search" style="vertical-align: bottom" placeholder="Suche">
					<div style="display: inline-block">
						<label for="kategorie">Kategorie</label>
						<select size="1" name="kategorie" class="chosen-select" id="chosen-select-1">
							<option value="alle">Alle</option>
							<option value="kameras">Kameras</option>
							<option value="mikrofone">Mikrofone</option>
							<option value="pa">PA</option>
							<option value="zubehoer">Zubehör</option>
						</select>
					</div>
				
			</div>
			<span style="display: inline-block; width: 20px;"></span>
			<div style="display: inline-block">
				<label for="kategorie">Sortieren nach</label>
				<select size="1" name="sortieren-nach" class="chosen-select" id="chosen-select-2">
					<option value="alphabet-aufsteigend">Alphabetisch aufsteigend (A-Z)</option>
					<option value="alphabet-absteigend">Alphabetisch absteigend (Z-A)</option>
					<!--
					<option value="preis-aufsteigend">Preis aufsteigend</option>
					<option value="preis-absteigend">Preis absteigend</option>
					<option value="relevanz-aufsteigend">Relevanz aufsteigend</option>
					<option value="relevanz-absteigend">Relevanz absteigend</option>
					-->
				</select>
			</div>
			<button type="submit">Go</button>
		</form>
	</div>

	<div class="grid-container">
		{{range .}}
			<div class="grid-item" style="text-align: left; margin: 20px;">
				{{if .Equipment.Picture}}
					<img src="/images/equipment/{{.Equipment.IdEquipment}}.jpg" width="150" height="135" style="float: right; margin-right: 30px; margin-left: 30px;">
				{{else}}
					<img src="/images/camera-icon.png" width="150" height="135" style="float: right; margin-right: 30px; margin-left: 30px;">
				{{end}}
			  	
				<div>
					<h3>{{.Equipment.Name}}</h3>
					{{.Equipment.Beschreibung}}
				</div>
				
				{{if .Item.Entliehen}}
				<!-- pointer-events: none; cursor: default; -->
					<a href="/InWarenkorb?idItem={{.Item.IdItem}}" style="text-decoration: none; color: black;"><button class="btn btn-secondary" type="button">Vormerken</button></a> <b><i>Nicht verfügbar</i></b>
				{{else}}
					<a href="/InWarenkorb?idItem={{.Item.IdItem}}" style="text-decoration: none; color: black;"><button class="btn btn-warning" type="button">Auswählen</button></a> <b><i>Verfügbar</i></b>
				{{end}}
					
				
			</div>
		{{end}}
	</div>
{{end}}