{{define "contentRegister"}}
	<div style="text-align: center; margin-bottom:25px;"><h1 class="form-headline">Noch kein Kunde bei uns?</h1></div>
		<div style="text-align: center;">
			<form action="/register/" method="post" style="display: inline-grid; grid-template-columns: auto auto; grid-gap: 5px;">
				<div>
					<label for="username">Benutzername</label>
					<input type="text" id="username" name="username" placeholder="">
				</div>
				<div>
					<label for="mail">Email</label>
					<input type="text" id="mail" name="mail" placeholder="">
				</div>
				<div>
					<label for="password">Passwort</label>
					<input type="password" id="password" name="password" placeholder="">
				</div>
				<div>
					<label for="pwdrepeat">Passwort wiederholen</label>
					<input type="password" id="pwdrepeat" name="pwdrepeat" placeholder="">
				 </div>
				<div style="grid-column-start: 1; grid-column-end: 3; margin-top: 25px;"><button class="btn btn-info" type="submit">Registrieren</button></div>
			</form>
		</div>
{{end}}