{{define "contentLogin"}}
	<div style="text-align: center; margin-bottom: 25px;">
		<h1 class="form-headline">Login</h1>
	</div>
	<div style="text-align: center;">
		<form action="/login/" method="post" style="display: inline-grid; grid-template-columns: auto; grid-gap: 5px;">
			<div>
				<label for="username">Benutzername</label>
				<input type="text" id="username" name="username" placeholder="">
			</div>
			<div>
				<label for="password">Passwort</label>
				<input type="password" id="password" name="password" placeholder="">
			</div>
			<div style="margin-top: 25px"><button class="btn btn-info" type="submit">Anmelden</button></div>
		</form>
	</div>
{{end}}