{{define "contentIndex"}}
	<div style="text-align: center">
			<h4 style="margin-bottom: -30px;"><i>Willkommen bei</i></h4><br>
			<h1 class="logo">borgdir.media</h1>
		</div>

		<div class="abstandhalter-sml"></div>

		<div style="text-align: center; margin-bottom: 80px">
			<a href="/login" class="btn btn-outline-success">Login</a>
			<a href="/register" class="btn btn-outline-secondary">Registrieren</a>
		</div>

		<div class="container text-center my-3" style="border: 1px solid black;">
				<div class="row mx-auto my-auto">
						<div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
								<div class="carousel-inner" role="listbox">
										<div class="carousel-item active">
											<img class="d-block col-3 img-fluid" src="/images/Canon-EOS-1300D.jpg">
										</div>
										<div class="carousel-item">
											<img class="d-block col-3 img-fluid" src="/images/kamerastativ_1.jpg">
										</div>
										<div class="carousel-item">
											<img class="d-block col-3 img-fluid" src="/images/objektiv_1.jpg">
										</div>
										<div class="carousel-item">
											<img class="d-block col-3 img-fluid" src="/images/Pana-AU-EVA1.jpg">
										</div>
								</div>
								<a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
								</a>
						</div>
				</div>
		</div>
{{end}}