{{define "contentClients"}}
	<div style="text-align: left">
		<h3>Kunden</h3>
	</div>

	<div style="float: left; display: inline-block; margin-bottom: 5px">
		<div style="display: inline-block">
			<form action="/admin/clients/" type="get">
				<input type="text" id="username" name="search" style="vertical-align: bottom" placeholder="Suche">

				<div style="display: inline-block">
					<label for="kategorie">Kategorie</label>
					<select size="1" name="kategorie" class="chosen-select" id="chosen-select-1">
						<option value="alle">Alle</option>
						<option value="user">Benutzer</option>
						<option value="admin">Admins</option>
					</select>
				</div>
				<button type="submit">Go</button>
			</form>
		</div>
	</div>

	<table width="100%" class="verwalten-table">
		<col width="20%">
		<col width="60%">
		<col width="10%">
		<col width="10%">

		<thead>
			<tr>
				<th>
					Equipment
				</th>
				<th>
					Ausgeliehenes Equipment
				</th>
				<th>
					Status
				</th>
				<th>

				</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
				<tr>
					<td>
						{{if .Account.Picture}}
							<img src="/images/profiles/{{.Account.IdAccount}}.jpg" class="warenkorb-bild">
						{{else}}
							<img src="/images/iacono.png" class="warenkorb-bild">
						{{end}}
						<h3>{{.Account.Benutzername}}</h3>
						ID: {{.Account.IdAccount}}<br>
						{{if .Account.Admin}}
							<input type="text" class="input-client" size="10" value="Admin" readonly>
						{{else}}
							<input type="text" class="input-client" size="10" value="Benutzer" readonly>
						{{end}}
					</td>
					<td>
						<div>
							{{range .Equipments}}
								{{.Name}}<br>
							{{end}}
						</div>
					</td>
					<td>
						<div>Konto aktiv bis:<br>
						<a href="" style="text-decoration: none; color: orange;">{{.Account.Aktiv_bis}}</a>
					</td>
					<td>
						<a href="/admin/edit-client?idAccount={{.Account.IdAccount}}"><button type="button" class="btn btn-warning"><img src="/images/pencil.png" width="25" height="25"></button></a>
					</td>
				</tr>
			{{end}}
			<!--
			<tr>
				<td>
					<img src="/images/iacono.png" class="warenkorb-bild">
					<h3>Luigi LoIacono</h3>
					ID: 111-04406<br>
					<input type="text" class="input-client" size="10" value="Benutzer">
				</td>
				<td>
					<div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
					</div>
				</td>
				<td>
					<div>Konto aktiv bis:<br>
					<a href="" style="text-decoration: none; color: orange;">25.09.2020</a>
				</td>
				<td>
					<button type="button" class="btn btn-warning" onclick="alert('Verlängert!')"><img src="/images/pencil.png" width="25" height="25"></button>
				</td>
			</tr>
			-->
		</tbody>

	</table>
{{end}}
