{{define "contentProfil"}}
	<h3>Profil bearbeiten</h3>
	{{if .Gesperrt}}
		<div style="margin-bottom: 20px">Status: <a href="" style="color: orange; text-decoration: none;">Gesperrt</a></div>
	{{else}}
		<div style="margin-bottom: 20px">Status: <a href="" style="color: orange; text-decoration: none;">Aktiv bis {{.Aktiv_bis}}</a></div>
	{{end}}
	<div style="float: right; margin-right: 25%; padding: 2px;">
		<form method="post" enctype="multipart/form-data" action="/upload-profilbild/">
	  		<div style="text-align: right; margin-bottom: -3px;"><i>Profilbild</i></div>
	  		{{if .Picture}}
	  			<img src="/images/profiles/{{.IdAccount}}.jpg" class="profilbild-big"><br>
  			{{else}}
  				<img src="/images/iacono.png" class="profilbild-big"><br>
  			{{end}}
	  		<input name="picture" type="file" accept=".jpg">
	  		<div style="text-align: right"><button type="submit" class="btn btn-secondary">Profilbild ändern</button></div>
	  	</form>
	</div>
	
	<div style="text-align: left; display: inline-block;">
		<form action="/profil/" method="post" style="display: inline-grid; grid-template-columns: auto; grid-gap: 10px;">
			<div>
				<label for="username">Benutzername</label>
				<input type="text" id="username" name="username" value="{{.Benutzername}}">
			</div>
			
			<div>
				<label for="mail">Email</label>
				<input type="text" id="mail" name="mail" value="{{.Email}}">
			</div>
			
		   	<div>
				<label for="password">Altes Passwort</label>
				<input type="password" id="password-old" name="password-old" placeholder="">
			</div>
			
			<div>
				<label for="password">Neues Passwort</label>
				<input type="password" id="password-new" name="password-new" placeholder="">
			</div>
			
			<div>
				<label for="pwdrepeat">Passwort wiederholen</label>
				<input type="password" id="pwdrepeat" name="pwdrepeat" placeholder="">
			</div>
			
			<div style="margin-top: 25px;">
			    <button class="btn btn-success" type="submit">Änderungen speichern</button>
	   		</div>
		</form>
		<form action="/deleteProfil/" method="post">
				<button class="btn btn-danger" type="submit" style="margin-left: 25px">Konto löschen</button>
		</form>
		
	</div>
{{end}}