{{define "contentMyEquipmentVormerkungen"}}
<div style="text-align: left; margin-bottom: 50px; margin-top: 50px;">
	<h3>Vorgemerkt</h3>
</div>
<table width="100%" class="vorgemerkt-table">
	<col width="20%">
	<col width="40%">
	<col width="20%">
	<col width="20%">

	<thead>
		<tr>
			<th>
				Equipment
			</th>
			<th>
				Beschreibung
			</th>
			<th>
				Rückgabe vsl.
			</th>
			<th>
				Entfernen
			</th>
		</tr>
	</thead>

	<tbody>
		
		{{range .}}
		<tr>
			<td>
				{{if .Equipment.Picture}}
					<img src="/images/equipment/{{.Equipment.IdEquipment}}.jpg" class="warenkorb-bild">
				{{else}}
					<img src="/images/camera-icon.png" class="warenkorb-bild">
				{{end}}
				
				<h3>{{.Equipment.Name}}</h3>
				Inv.-Nr.: {{.Item.IdItem}}
			</td>
			<td>
				<div>{{.Equipment.Beschreibung}}
				</div>
			</td>
			<td>
				<div>
					<input type="text" class="input-rueckgabe" maxlength="8" size="8" value="{{.Vormerkung.Rueckgabe}}" readonly>
				</div>
			</td>
			<td>
				<a href="/AusVormerkungen?idVormerkung={{.Vormerkung.IdVormerkung}}" ><button type="button" class="btn btn-danger" >Entfernen</button></a>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>

	</body>

</html>
{{end}}