{{define "contentAdminEquipment"}}

	<div style="text-align: left">
		<h3>Equipment verwalten</h3>
	</div>
	<button type="button" onclick="window.location.href='/admin/add/'" class="btn btn-warning" style="padding-left: 50px; padding-right: 50px;"><b>+</b></button>
	<div style="float: right; display: inline-block; margin-bottom: 5px">
		<div style="display: inline-block">
			<form action="/admin/equipment/" type="get">
				<input type="text" id="username" name="search" style="vertical-align: bottom" placeholder="Suche">

				<div style="display: inline-block">
					<label for="kategorie">Kategorie</label>
					<select size="1" name="kategorie" class="chosen-select" id="chosen-select-1">
						<option value="alle">Alle</option>
						<option value="kameras">Kameras</option>
						<option value="mikrofone">Mikrofone</option>
						<option value="pa">PA</option>
						<option value="zubehoer">Zubehör</option>
					</select>
				</div>
				<button type="submit">Go</button>
			</form>
		</div>
	</div>

	<table width="100%" class="verwalten-table">
		<col width="20%">
		<col width="50%">
		<col width="10%">
		<col width="10%">
		<col width="10%">

		<thead>
			<tr>
				<th>
					Equipment
				</th>
				<th>
					Beschreibung
				</th>
				<th>
					Status
				</th>
				<th>

				</th>
				<th>

				</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
				<tr>
					<td>
						{{if .Equipment.Picture}}
							<img src="/images/equipment/{{.Equipment.IdEquipment}}.jpg" class="warenkorb-bild">
						{{else}}
							<img src="/images/camera-icon.png" class="warenkorb-bild">
						{{end}}
						<h3>{{.Equipment.Name}}</h3>
						Inv.-Nr.: {{.Item.IdItem}}<br>
						<i>Lagerort: </i><input type="text" class="input-rueckgabe" size="10" value="{{.Lagerort.Name}}" readonly>
					</td>
					<td>
						<div>
						{{.Equipment.Beschreibung}}
						</div>
					</td>
					<td>
						{{if .Ausleihe.IdAusleihe}}
							<div>Entliehen an:<br>
							<i><b>{{.Account.Benutzername}}</b></i></div>
						{{else}}
							<b><i>Verfügbar</i></b>
						{{end}}
					</td>
					<td>
						<div>
							{{if .Ausleihe.IdAusleihe}}
								Rückgabe:<br>
								<input type="text" class="input-rueckgabe" maxlength="8" size="8" value="{{.Ausleihe.Rueckgabe_bis}}" readonly>
							{{end}}
						</div>
					</td>
					<td>
						<a href="/admin/edit-item?idItem={{.Item.IdItem}}" ><button type="button" class="btn btn-warning" ><img src="/images/pencil.png" width="25" height="25"></button></a>
						<a href="/admin/delete-item?idItem={{.Item.IdItem}}" ><button type="button" class="btn btn-warning" ><img src="/images/trash.png" width="25" height="25"></button></a>
					</td>
				</tr>
			{{end}}
		</tbody>
	</table>

{{end}}
