{{define "contentWarenkorb"}}

	<div style="text-align: left; margin-bottom: 50px;">
			<h3>Warenkorb</h3>
		</div>
		<table width="100%" class="warenkorb-table">
			<col width="20%">
			<col width="50%">
			<col width="10%">
			<col width="10%">
			<col width="10%">

			<thead>
				<tr>
					<th>
						Equipment
					</th>
					<th>
						Beschreibung
					</th>
					<th>
						Anzahl
					</th>
					<th>
						Rückgabe bis
					</th>
					<th>
						Löschen
					</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td>
							{{if .EquipSpezi.Picture}}
								<img src="/images/equipment/{{.EquipSpezi.IdEquipment}}.jpg" class="warenkorb-bild">
							{{else}}
								<img src="/images/camera-icon.png" class="warenkorb-bild">
							{{end}}
							
							<h3>{{.EquipSpezi.Name}}</h3>
							Inv.-Nr.: {{.ItemSpezi.IdItem}}
						</td>
						<td>
							<div>
								{{.EquipSpezi.Beschreibung}}
							</div>
						</td>
						<td>
							1
						</td>
						<td>
							{{if .ItemSpezi.Entliehen}}
								Bereits entliehen.<br>
								Wird vorgemerkt.
							{{else}}
								<div>Rückgabe:<br>
								{{.Rueckgabe}}<!-- 24.10.1991 --></div>
							{{end}}
						</td>
						<td>
							<a href="/AusWarenkorb?idItem={{.ItemSpezi.IdItem}}" ><button type="button" ><img src="/images/trash.png" width="25" height="25"></button></a>
						</td>
					</tr>
				{{end}}
			
			</tbody>

		</table>
		{{if .}}
			<div style="text-align: right; margin-right: 50px">
				<a href="/ausleihen/" ><button type="button" class="btn btn-success btn-lg">Ausleihen</button></a>
			</div>
		{{end}}
{{end}}