{{define "contentAdmin"}}
	<div style="text-align: center">
	  <h2 style="margin-bottom: 50px">Administrationsbereich</h2>
	  <div style="display: grid; grid-template-columns: auto auto; text-align: center;">
	    <div>
	      <a href="/admin/equipment/"><img src="/images/clipboard.svg" height="400" style="margin-bottom: 10px; margin-left: 70px"></a>
	      <br>
	      <a href="/admin/equipment/" class="btn btn-warning">Equipment verwalten</a>
	    </div>
	    <div>
	      <a href="/admin/clients/"><img src="/images/group.jpg" height="400" style="margin-bottom: 10px"></a>
	      <br>
	      <a href="/admin/clients/" class="btn btn-warning">Kunden verwalten</a>
	    </div>
	  </div>
	</div>
{{end}}
