{{define "contentEditEquipment"}}
	<div style="text-align: left">
		<h3>Equipment bearbeiten</h3>
	</div>

	<div style="float: right; margin-right: 800px; text-align: right;">
	  
	  <form method="post" enctype="multipart/form-data" action="/upload-equipmentbild/">
	  		<input type="hidden" name="idEquipment" value="{{.Equipment.IdEquipment}}" >
	  		<div style="text-align: right; margin-bottom: -3px;"><i>Bild</i></div>
	  		{{if .Equipment.Picture}}
	  			<img src="/images/equipment/{{.Equipment.IdEquipment}}.jpg" class="profilbild-big"><br>
  			{{else}}
  				<div class="placeholder-picture" ></div><br>
  			{{end}}
	  		<input name="picture" type="file" accept=".jpg">
	  		<div style="text-align: right"><button type="submit" class="btn btn-secondary">Profilbild ändern</button></div>
	  	</form>
	</div>
	
	
	<div style="margin-top: 25px;">
	  <form action="/admin/edit-item/" method="post" style="display: inline-grid; grid-template-columns: 200px auto; grid-gap: 5px;">
	    <div>
	      <label for="bezeichnung">Bezeichnung</label>
	      <input type="text" id="bezeichnung" name="bezeichnung" value="{{.Equipment.Name}}">
	    </div>
	    <div>
	      <div style="display: inline-block; float: right;">
				<label for="kategorie" style="text-align: right;">Kategorie</label>
				<select size="1" name="kategorie" class="chosen-select" id="chosen-select-1">
					<option value="kameras" {{if eq .Equipment.IdKategorie 1}}selected{{end}}>Kameras</option>
					<option value="mikrofone" {{if eq .Equipment.IdKategorie 2}}selected{{end}}>Mikrofone</option>
					<option value="pa" {{if eq .Equipment.IdKategorie 3}}selected{{end}}>PA</option>
					<option value="zubehoer" {{if eq .Equipment.IdKategorie 4}}selected{{end}}>Zubehör</option>
				</select>
			</div>
	    </div>
	    <div>
	      <label for="inventar-nummer">Inventar-Nummer</label>
	      <input type="text" id="inventar-nummer" name="inventar-nummer" value="{{.Item.IdItem}}" readonly>
	    </div>
	    <div>
	      <div style="display: inline-block; float: right;">
				<label for="lagerort" style="text-align: right;">Lagerort</label>
				<select size="1" name="lagerort" class="chosen-select" id="chosen-select-2">
					<option value="schrank" {{if eq .Item.IdLagerort 1}}selected{{end}}>Schrank</option>
					<option value="dachlager" {{if eq .Item.IdLagerort 2}}selected{{end}}>Dachlager</option>
					<option value="lager 1" {{if eq .Item.IdLagerort 3}}selected{{end}}>Lager 1</option>
					<option value="lager 2" {{if eq .Item.IdLagerort 4}}selected{{end}}>Lager 2</option>
					<option value="transporter" {{if eq .Item.IdLagerort 5}}selected{{end}}>Transporter</option>
				</select>
			</div>
	    </div>
	    <div>
	      <label for="inhalt">Inhalt</label>
	      <input type="text" id="inhalt" name="inhalt" value="{{.Equipment.Inhalt}}">
	    </div><br>
	    <div>
	      <label for="beschreibung" style="text-align: left;">Beschreibung</label>
	      <textarea name="beschreibung" id="beschreibung" rows="8" cols="40" >{{.Equipment.Beschreibung}}</textarea>
	    </div>
	    <div>
	    </div>
	    <button type="submit" class="btn btn-success btn-lg">Speichern</button>
	  </form>
	</div>

{{end}}
