{{define "contentMyEquipment"}}

<div style="text-align: left; margin-bottom: 50px;">
	<h3>Meine Geräte</h3>
</div>
<table width="100%" class="warenkorb-table">
	<col width="20%">
	<col width="50%">
	<col width="10%">
	<col width="10%">
	<col width="10%">

	<thead>
		<tr>
			<th>
				Equipment
			</th>
			<th>
				Beschreibung
			</th>
			<th>
				Entliehen am
			</th>
			<th>
				Rückgabe bis
			</th>
			<th>
				Verlängern
			</th>
		</tr>
	</thead>
	<tbody>
		{{range .}}
			<tr>
				<td>
					{{if .Equipment.Picture}}
						<img src="/images/equipment/{{.Equipment.IdEquipment}}.jpg" class="warenkorb-bild">
					{{else}}
						<img src="/images/camera-icon.png" class="warenkorb-bild">
					{{end}}
					
					<h3>{{.Equipment.Name}}</h3>
					Inv.-Nr.: {{.Item.IdItem}}
				</td>
				<td>
					<div>{{.Equipment.Beschreibung}}
					</div>
				</td>
				<td>
					<div>Entliehen:<br>
						<input type="text" class="input-rueckgabe" size="8" value="{{.Ausleihe.Entliehen_am}}" readonly>
					</div>
				</td>
				<td>
					<div>Rückgabe:<br>
						<input type="text" class="input-rueckgabe" size="8" value="{{.Ausleihe.Rueckgabe_bis}}" readonly>
					</div>
				</td>
				<td>
					<a href="/verlaengern?idAusleihe={{.Ausleihe.IdAusleihe}}" ><button type="button" class="btn btn-warning" >Verlängern</button></a>
				</td>
			</tr>
		{{end}}
		<!--
		<tr>
			<td>
				<img src="/images/Canon-EOS-1300D.jpg" class="warenkorb-bild">
				<h3>Kamera</h3>
				Inv.-Nr.: 11104406
			</td>
			<td>
				<div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				</div>
			</td>
			<td>
				<div>Entliehen:<br>
				24.10.1991</div>
			</td>
			<td>
				<div>Rückgabe:<br>
				24.10.1991</div>
			</td>
			<td>
				<button type="button" class="btn btn-warning" onclick="alert('Verlängert!')">Verlängern</button>
			</td>
		</tr>
		<tr>
			<td>
				<img src="/images/kamerastativ_1.jpg" class="warenkorb-bild">
				<h3>Stativ</h3>
				Inv.-Nr.: 11104407
			</td>
			<td>
				<div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				</div>
			</td>
			<td>
				<div>Entliehen:<br>
				24.10.1991</div>
			</td>
			<td>
				<div>Rückgabe:<br>
				24.10.1991</div>
			</td>
			<td>
				<button type="button" class="btn btn-warning" onclick="alert('Verlängert!')">Verlängern</button>
			</td>
		</tr>
		-->
	</tbody>

</table>

<!--
<div style="text-align: left; margin-bottom: 50px;">
	<h3>Vorgemerkt</h3>
</div>
<table width="100%" class="vorgemerkt-table">
	<col width="20%">
	<col width="40%">
	<col width="20%">
	<col width="20%">

	<thead>
		<tr>
			<th>
				Equipment
			</th>
			<th>
				Beschreibung
			</th>
			<th>
				Rückgabe vsl.
			</th>
			<th>
				Entfernen
			</th>
		</tr>
	</thead>

	<tbody>
		

		<tr>
			<td>
				<img src="/images/Canon-EOS-1300D.jpg" class="warenkorb-bild">
				<h3>Kamera</h3>
				Inv.-Nr.: 11104406
			</td>
			<td>
				<div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et...
				</div>
			</td>
			<td>
				<div>
					24.10.1991
				</div>
			</td>
			<td>
				<button type="button" class="btn btn-danger" onclick="alert('Verlängert!')">Entfernen</button>
			</td>
		</tr>

	</tbody>
</table>
-->	
{{end}}