{{define "contentEditClients"}}
	<div style="text-align: left">
		<h3>Profil bearbeiten</h3>
	</div>
	
	<div style="float: right; margin-right: 800px; text-align: right;">
		<form method="post" enctype="multipart/form-data" action="/upload-profilbild-client/">
			<input type="hidden" name="idClient" value="{{.IdAccount}}">
			<p style="text-align: right; margin-bottom: -3px;"><i>Profilbild</i></p>
			<!-- <div class="placeholder-picture" ></div> -->
			
			{{if .Picture}}
	  			<img src="/images/profiles/{{.IdAccount}}.jpg" class="profilbild-big"><br>
  			{{else}}
  				<img src="/images/iacono.png" class="profilbild-big"><br>
  			{{end}}
			 
			<input name="picture" type="file" accept=".jpg">
  			<div style="text-align: right"><button type="submit" class="btn btn-secondary">Profilbild ändern</button></div>
		</form>
	</div>
	
	<form action="/admin/edit-client/" method="post" style="">
		<div>
			Kunden-ID: <input type="text" id="idKunde" name="idKunde" class="input-client" size="10" value="{{.IdAccount}}" readonly>
			| Status: <input type="text" id="statusKunde" name="statusKunde" class="input-client" size="10" value="{{.Aktiv_bis}}" readonly>
		</div>
		<div style="margin-top: 25px;">
			<div style="margin-top: 15px;">
				<label for="username">Benutzername</label>
				<input type="text" id="username" name="username" value="{{.Benutzername}}">
			</div>
			<div style="margin-top: 15px;">
				<label for="mail">E-Mail Adresse</label>
				<input type="text" id="mail" name="mail" value="{{.Email}}">
			</div>
			<div style="margin-top: 15px;">
				<label for="password">Neues Passwort</label>
				<input type="text" id="password" name="password" placeholder="">
			</div>
			<div style="margin-top: 15px;">
				<label for="pwdrepeat">Passwort wiederholen</label>
				<input type="text" id="pwdrepeat" name="pwdrepeat" placeholder="">
			</div>
			<button type="submit" class="btn btn-success btn-lg" style="margin-top: 25px; margin-right: 20px;">Änderungen Speichern</button>
		</div>
	</form>
	<a href="/admin/profil-sperren?idAccount={{.IdAccount}}"> <button type="button" class="btn btn-danger btn-lg" style="margin-top: 25px;">Konto sperren</button> </a>
	
{{end}}
