{{define "header"}}
	<header>
		<a href="/index" id="logo-link"><h1 class="logo">borgdir.media</h1></a>

		<nav>
			<a href="/equipment">Equipment</a>
			<span>|</span>
			<a href="/my-equipment">Meine Geräte</a>
			<span>|</span>
			{{if .Admin}}
				<a href="/admin">Adminbereich</a>
				<span>|</span>
			{{end}}
			<a href="/logout">Logout</a>
		</nav>

		<span style="float: right">
			<a href="/cart" id="cart-link"><img src="/images/cart.svg" id="cart" alt="Einkaufswagen"></a>
				{{if .Picture}}
					<a href="/profil"><img src="/images/profiles/{{.IdAccount}}.jpg" height="75" width="75" style="border-radius: 50%; float: right; border-style: solid;"></a>
				{{else}}
					<a href="/profil"><img src="/images/iacono.png" height="75" width="75" style="border-radius: 50%; float: right; border-style: solid;"></a>
				{{end}}
				<div style="float: right; margin-top: 10px; margin-right: 15px;">
					<span style="float: right">
						<span>
							<b>{{.Benutzername}}</b><br>
							{{if .Admin}}
								<a href="/profil">Admin</a>
							{{else}}
								<a href="/profil">User</a>
							{{end}}
						</span>
					</span>
				</div>
		</span>
	</header>
{{end}}