{{define "head"}}
	<head>
		<!-- Metadaten -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>borgdir.media</title>

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.0/slick.css"> --> <!-- Für Karussel -->
		<link rel="stylesheet" type="text/css" href="/plugins/chosen_v1.8.5/chosen.min.css"> <!-- Dropdowns -->
		<link rel="stylesheet" type="text/css" href="/css/karussell.css">
		<link rel="stylesheet" type="text/css" href="/css/input-elemente.css">
		<link rel="stylesheet" type="text/css" href="/css/textformatierungen.css">
		<link rel="stylesheet" type="text/css" href="/css/bildformatierungen.css">
		<link rel="stylesheet" type="text/css" href="/css/gui-elemente.css">

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js"></script> --> <!-- Slick nutzen für Karusell -->
		<script src="/plugins/chosen_v1.8.5/chosen.jquery.min.js"></script> <!-- Dropdowns -->
		<script src="/scripts/karussell.js"></script>
		<script src="/scripts/myscripts.js"></script>

	</head>
{{end}}