{{define "header"}}
	<header>
		<a href="/index" id="logo-link"><h1 class="logo">borgdir.media</h1></a>

		<nav>
			<a href="/equipment">Equipment</a>
			<span>|</span>
			<a href="/login">Login</a>
		</nav>

		<a href="/cart" id="cart-link"><img src="/images/cart.svg" id="cart" style="float: right;" alt="Einkaufswagen"></a>
	</header>
{{end}}