#cart {
  /* float: right; */
  margin-top: 10px;
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.warenkorb-bild {
	width: 100px;
	float: left;
	margin-right: 25px;
}

.profilbild-big {
  width: 270px;
  height: 250px;
  border: 2px solid black;
  margin-bottom: 3px;"
}

.profilbild-sml {

}

.placeholder-picture {
  width: 350px;
  height: 200px;
  border: 1px solid black;

  background:
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
