#karussell {
  outline-style: solid;
  outline-color: red;
  outline-width: 2px;

  height: 200px;
  margin-top: 20px;
}

.abstandhalter-mid {
	margin-top: 100px;
	/*margin-bottom: 100px;*/
}
.abstandhalter-sml {
	margin-top: 50px;
	/*margin-bottom: 50px;*/
}
.abstandhalter-xsml {
	margin-top: 25px;
	/*margin-bottom: 25px;*/
}

footer {
	margin-top: 100px;
	text-align: center;
}

.grid-container {
	margin-top: 25px;
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}

.grid-container-profil {
  margin-top: 25px;
	display: grid;
	grid-template-columns: auto;
	text-align: center;
}

th, td {
	font-style: italic;
	text-align: left;
	padding: 5px;
}

td {
	padding-top: 15px;
	padding-bottom: 15px;
}

table button {
	border: 0;
	cursor: pointer;
}

.warenkorb-table div {
	text-align: left;
	display: inline-block;
}

.warenkorb-table td:nth-child(3), .warenkorb-table th:nth-child(3),
.warenkorb-table td:nth-child(4), .warenkorb-table th:nth-child(4),
.warenkorb-table td:nth-child(5), .warenkorb-table th:nth-child(5)
{
	text-align: center;
}

thead {
	border-bottom: 1px solid black;
}

.vorgemerkt-table div {
	text-align: left;
	display: inline-block;
}

.vorgemerkt-table td:nth-child(3), .vorgemerkt-table th:nth-child(3),
.vorgemerkt-table td:nth-child(4), .vorgemerkt-table th:nth-child(4)
{
	text-align: center;
}

.verwalten-table div {
	text-align: left;
	display: inline-block;
}

.verwalten-table td:nth-child(3), .verwalten-table th:nth-child(3) {
  text-align: left;
  padding-left: 25px;
}

.verwalten-table td:nth-child(4), .verwalten-table th:nth-child(4),
.verwalten-table td:nth-child(5), .verwalten-table th:nth-child(5)
{
	text-align: center;
}

/*
input[type="text"], input[type="password"] {
	outline: 0;
	border: 0;
	border-bottom: 3px solid silver;
	transition: all .5s ease-in-out;
}

input[type="text"]:hover, input[type="password"]:hover {
	border-bottom-color: black;
	color: red;
}
*/
