form span {
  text-align: right;
}

.input-rueckgabe {
  border: 1px solid transparent;
  color: orange;
  outline: 0;
  transition: border-color .5s ease-in-out;
  padding: 4px;
}

.input-rueckgabe:hover, .input-rueckgabe:focus {
  border: 1px solid silver;
}

.input-client {
  border: 1px solid transparent;
  color: orange;
  outline: 0;
  transition: border-color .5s ease-in-out;
  padding: 4px;
}

.input-client:hover, .input-client:focus {
  border: 1px solid silver;
}
