.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.borgdir-size{
font-size: 200% !important;
margin-top: -10px;
}

#welc{
      margin-bottom: -12px;
}

.borgdir-color{
  color: rgb(255,99,71) !important;
}

/*
.btn{
    background-color: rgb(255,99,71);
    color: rgb(255,255,255);
    width: 150px;
}
*/
