* {
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 100px;
}

body {
	padding-top: 10px;
	padding-left: 75px;
	padding-right: 75px;

	font-family: Arial;
	color: #343434;
}

.logo {
	font-weight: bold;
	color: #ff6347;
	display: inline;
}

label {
	display: block;
	font-style: italic;
	font-size: 15px;
	text-align: left;
	cursor: pointer;
	margin-bottom: -1px;
}

/*
#logo {
	font-weight: bold;
	color: #ff6347;
	display: inline;
}
*/

.form-headline {
	font-style: italic;
	font-weight: bold;
	font-size: 22px;
}

#logo-link:hover {
	text-decoration: none;
}


nav {
	margin-left: 50px;
	display: inline;
}

nav a {
	color: #464646;
	font-size: 20px;
	font-weight: bold;
}

nav span {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}
