{{define "clients"}}

	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			<!--- {{template "header"}} -->
	
			{{template "contentClients" .}}
	
			{{template "footer"}}
		</body>
	
	</html>

{{end}}