{{define "editEquipment"}}

	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			<!-- {{template "header"}} -->
	
			{{template "contentEditEquipment" .}}
	    
		    {{template "footer"}}
		</body>
	
	</html>

{{end}}