{{define "editClients"}}

	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			<!-- {{template "header"}} -->
	
			{{template "contentEditClients" .}}
	    
		    {{template "footer"}}
		</body>
	
	</html>

{{end}}