{{define "adminEquipment"}}

	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			<!-- {{template "header"}} -->
	
			{{template "contentAdminEquipment" .}}
	
			{{template "footer"}}
		</body>
	
	</html>

{{end}}