{{define "index"}}

	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
		
		<body>
			{{template "header" .}}
	
			{{template "contentIndex"}}
	
			{{template "footer"}}
		</body>
	</html>

{{end}}