{{define "equipment"}}
	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			<!-- {{template "header"}} -->
	
			{{template "contentEquipment" .}}
	
			{{template "footer"}}
		</body>
	
	</html>
{{end}}