{{define "login"}}
	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			{{template "header"}}
	
			{{template "contentLogin"}}
	
			{{template "footer"}}
		</body>
	
	</html>
{{end}}