{{define "profil"}}

<!DOCTYPE html>
<html lang="de">

	{{template "head"}}

	<body>
		{{template "header" .}}

    	{{template "contentProfil" .}}

	   	{{template "footer"}}
	</body>

</html>

{{end}}