{{define "warenkorb"}}
	<!DOCTYPE html>
	<html lang="de">
	
		{{template "head"}}
	
		<body>
			<!-- {{template "header"}} -->
	
			{{template "contentWarenkorb" .}}
	
			{{template "footer"}}
	</body>
	
	</html>
{{end}}